/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 26px;

}

h1 {
    padding: 10px;
    font-size: 62px;
    color: goldenrod;
}

#message-el {
    font-size: 32px;
    padding: 10px;
    font-style: italic;
    color: white;
    font-weight: 200;
}

button {
    margin: 2px;
    border: none;
    font-weight: bold;
    color: #016f32;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background: goldenrod;
}